.hole {
  display: flex;
  position: relative;
  cursor: url("../../../../assets/hammer_rs.png"), pointer;
  padding-top: 50px;

  &__img {
    max-width: 280px;
    padding: 20px;
    z-index: 2;
  }

  &__mole {
    position: absolute;
    max-width: 150px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 70px;
    display: none;
    z-index: 1;
  }

  .show {
    display: block;
    transition: display 1s ease-in;
  }
}
