.scores-screen:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/background.png");
  background-size: cover;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.scores-screen {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__container {
    width: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &__results {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 2px dashed rgb(213, 144, 82);
      margin-bottom: 10px;
    }
  }

  &__header {
    display: flex;
    padding-bottom: 50px;
    justify-content: space-between;
    flex-direction: row;

    &--link {
      outline: none;
      background: transparent;
      border: 1px solid transparent;
      font-size: 14px;
    }
  }

  &__footer {
    position: absolute;
    right: 40px;
    bottom: 10px;

    &--svg {
      height: 40px;
    }
  }
}
