<div class="scores-screen">
  <div class="scores-screen__container">
    <div class="scores-screen__header">
      <img src="../../assets/high_score_table.png" />

      <button class="scores-screen__header--link" routerLink="/">Back</button>
    </div>
    <div
      class="scores-screen__container__results"
      *ngFor="let highScore of highScores; index as i"
    >
      <div>{{ i + 1 }}</div>
      <div class="scores-screen__container__results--name">
        {{ highScore.name }}
      </div>
      <div class="scores-screen__container__results--score">
        {{ highScore.score }}
      </div>
    </div>
  </div>
  <div class="scores-screen__footer">
    <img
      class="scores-screen__footer--svg"
      src="../../assets/splendex_logo.svg"
      alt="splendex-logo"
    />
  </div>
</div>
