<div class="settings-screen">
  <div class="settings-screen__container">
    <div class="settings-screen__header">
      <img src="../../assets/option_table.png" />

      <button
        class="settings-screen__header--link"
        routerLink="/"
        (click)="saveSettings()"
      >
        Back
      </button>
    </div>
    <form class="settings-screen__form__buttons" [formGroup]="profileForm">
      <label>
        Your Name:
        <input type="text" formControlName="name" />
      </label>
      <div class="settings-screen__form__buttons">
        <span>Difficult: </span>
        <label class="settings-screen__form__buttons--label">
          <input type="radio" value="easy" formControlName="difficulty" />
          <!--           <img
            class="settings-screen__form__buttons--img"
            src="../../assets/switch_off.png"
          /> -->
          <span>easy</span>
        </label>
        <label class="settings-screen__form__buttons--label">
          <input type="radio" value="medium" formControlName="difficulty" />
          <!--           <img
            class="settings-screen__form__buttons--img"
            src="../../assets/switch_off.png"
          /> -->
          <span>medium</span>
        </label>
        <label class="settings-screen__form__buttons--label">
          <input type="radio" value="hard" formControlName="difficulty" />
          <!--           <img
            class="settings-screen__form__buttons--img"
            src="../../assets/switch_off.png"
          /> -->
          <span>hard</span>
        </label>
      </div>
    </form>
  </div>
  <div class="settings-screen__footer">
    <img
      class="settings-screen__footer--svg"
      src="../../assets/splendex_logo.svg"
      alt="splendex-logo"
    />
  </div>
</div>
