.settings-screen:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/background.png");
  background-size: cover;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.settings-screen {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__container {
    width: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__header {
    display: flex;
    padding-bottom: 50px;
    justify-content: space-between;
    flex-direction: row;

    &--link {
      outline: none;
      background: transparent;
      border: 1px solid transparent;
      font-size: 14px;
    }
  }
  &__form {
    &__buttons {
      &--label {
        padding-right: 20px;
      }

      &--img {
        width: 20px;
      }
    }
  }

  &__footer {
    position: absolute;
    right: 40px;
    bottom: 10px;

    &--svg {
      height: 40px;
    }
  }
}

/* [type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}


[type="radio"] + img {
  cursor: pointer;
}

[type="radio"]:checked + img {
  outline: 2px solid #f00;
}
 */
