/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  color: rgb(213, 144, 82);
  font-weight: 800;
  //font-size: 20px;
  text-shadow: -1px 0 rgb(121, 74, 65), 0 1px rgb(121, 74, 65),
    1px 0 rgb(121, 74, 65), 0 -1px rgb(121, 74, 65);
}

html,
body {
  font-family: "Arial", "Times New Roman";
  font-size: 20px;
  font-weight: 400;
  height: 100%;
}
