<div class="game-screen">
  <div class="game-screen__results">
    <h1>
      Current:
      {{ foundMole }}
    </h1>
    <h2>All time best: {{ bestResult }}</h2>
    <h3>Time left: {{ timeInSeconds }} s</h3>
    <p class="game-screen__results--player">Name: {{ playerName }}</p>
    <p class="game-screen__results--difficulty">Difficulty: {{ gameType }}</p>
    <img
      class="game-screen__results--restart"
      (click)="restartGame()"
      *ngIf="timeIsUp"
      src="../../../assets/start_table.png"
    />
    <p routerLink="/scores" *ngIf="timeIsUp">Go to Scores</p>
  </div>
  <div class="game-screen__exit" (click)="exitGame()">Exit</div>
  <div class="game-screen__game">
    <ng-container *ngFor="let hole of indexOfHoles">
      <app-hole
        [hole]="hole"
        [currentHole]="randomHole"
        (foundMole)="moleCounter()"
      ></app-hole>
    </ng-container>
  </div>
  <div class="game-screen__footer">
    <img
      class="game-screen__footer--svg"
      src="../../assets/splendex_logo.svg"
      alt="splendex-logo"
    />
  </div>
</div>
