.game-screen {
  background-image: url("../../../assets/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  cursor: url("../../../assets/hammer_rs.png"), pointer;

  &__exit {
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }

  &__game {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__results {
    position: fixed;
    left: 20px;
    top: 20px;
    cursor: pointer;

    &--player,
    &--difficulty {
      padding: 3px 0px;
    }

    &--restart {
      width: 100px;
    }

    &--current {
      background-image: url("../../../assets/empty_table.png");
    }
  }

  &__footer {
    position: absolute;
    right: 40px;
    bottom: 10px;

    &--svg {
      height: 40px;
    }
  }
}
