.start-screen:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/background.png");
  background-size: cover;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.start-screen {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__image {
    display: flex;
    height: 400px;
    justify-content: center;
  }

  &__buttons {
    display: flex;
    flex-direction: column;

    &--start,
    &--option,
    &--score {
      width: 150px;
      padding: 5px;
    }
  }

  &__footer {
    position: absolute;
    right: 40px;
    bottom: 10px;

    &--svg {
      height: 40px;
    }
  }
}
