<div class="start-screen">
  <div class="start-screen__image">
    <img src="../../assets/whack_logo.png" />
  </div>
  <div class="start-screen__buttons">
    <img
      (click)="startGame()"
      routerLink="/game"
      class="start-screen__buttons--start"
      src="../../assets/start_table.png"
    />
    <img
      routerLink="/settings"
      class="start-screen__buttons--option"
      src="../../assets/option_table.png"
    />
    <img
      routerLink="/scores"
      class="start-screen__buttons--score"
      src="../../assets/high_score_table.png"
    />
  </div>
  <div class="start-screen__footer">
    <img
      class="start-screen__footer--svg"
      src="../../assets/splendex_logo.svg"
      alt="splendex-logo"
    />
  </div>
</div>
